.control-panel {
  height: 100%;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px 0 20px 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
  overflow-y: scroll;
}

.country-item {
  cursor: pointer;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.country-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.hover-description {
  background-color: var(--background);
  color: var(--foreground);
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  white-space: nowrap;
}

.popup-carousel {
  display: flex;
  align-items: center;
  text-align: center;
}

.popup-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
  color: var(--foreground);
}

.maplibregl-popup-content {
  background-color: var(--background);
  border-radius: 18px;
}

.maplibregl-popup-tip {
  border-top-color: var(--background);
}

.maplibregl-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  font-size: 24px !important; /* Increase the size */
  width: 32px !important; /* Adjust width */
  height: 32px !important; /* Adjust height */
  line-height: 32px !important; /* Center the "X" */
}

@media (max-width: 900px) {
  .control-panel {
    display: none;
  }
}
