/* styles.module.css */
#buttons-stack {
  height: 10%;
}

#images-stack {
  height: 90%;
}

@media (max-width: 600px) {
  #buttons-stack {
    height: 20%;
    flex-direction: column;
  }

  #images-stack {
    height: 80%;
  }
}

.container {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.p4 {
  padding: 16px; /* Adjust padding as needed */
}
