@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(235, 235, 235);
  --foreground: rgb(15, 15, 15);
  --background-transparent: rgba(255, 255, 255, 0.8);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  --card: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(15, 15, 15);
    --foreground: rgb(255, 255, 255);
    --background-transparent: rgba(29, 29, 29, 0.8);
    --background-start-rgb: rgb(51, 51, 51);
    --background-end-rgb: rgb(24, 24, 24);
    --card: rgb(61, 61, 61);
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end-rgb))
    var(--background-start-rgb);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card) !important;
  color: var(--foreground) !important;
  position: relative;
  cursor: pointer;
  backdrop-filter: blur(10px);
  border-radius: 10px; /* Border radius 2 in MUI translates to 8px */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  overflow: hidden;
  width: 100%; /* Set width to 100% of the grid item */
  aspect-ratio: 1 / 1; /* Maintain a 1:1 aspect ratio */
}

.card:hover {
  transform: scale(1.05);
}

/* globals.css */
.card-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--background-transparent);
  color: var(--foreground);
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 16px;
  border-radius: 8px; /* To match the card's border radius */
  z-index: 1;
  pointer-events: none; /* Prevent overlay from blocking clicks */
}

.card:hover .card-overlay {
  opacity: 1;
}

.left-fixed {
  position: fixed;
  background-color: var(--background);
  top: 84px;
  left: 0;
  padding: 10px;
  margin: 10px;
  width: calc(350px - 20px);
  height: calc(100vh - 104px);
  border-radius: 10px;
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.2);
  z-index: 99;
  overflow-y: auto;
}

.left-fixed .card {
  position: relative;
  cursor: pointer;
  background-color: var(--background);
  border-radius: 50%; /* Ensures the card is a perfect circle */
  transition: transform 0.3s ease;
  overflow: hidden;
  max-height: 200px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
}

.left-fixed .card :hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.left-fixed .profile-picture-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 100px);
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#skill-set-container img {
  width: 100%;
}

.right-scrollable {
  margin-left: 350px;
  width: calc(100% - 350px);
}

.experience {
  text-align: left;
}

/* Responsive on max width 1150px */
@media (max-width: 1150px) {
  .left-fixed {
    position: relative;
    display: flex;
    background-color: #f5f5f5;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 20px);
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 14px 16px rgba(0, 0, 0, 0.2);
    overflow: visible;
  }

  .left-profile {
    flex-direction: column;
  }

  .MuiAccordion-root {
    margin-top: 0 !important; /* Ensure there's no top margin */
  }

  .left-notebook {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Align the remaining accordions to the top */
    align-items: flex-start;
    height: auto; /* Allow height to adjust based on content */
  }

  .left-notebook-container {
    align-items: flex-start !important;
  }

  .left-fixed .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* Ensure the card takes up full available height */
    flex-grow: 1; /* Allow the card to take up remaining space */
    flex-shrink: 1; /* Allow the card to shrink if necessary */
  }

  .left-fixed .introduction {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  #skill-set-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px; /* Adds spacing between images */
  }

  #skill-set-container img {
    max-height: 200px;
  }

  .left-fixed .skill-stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .left-fixed .contact-stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .left-fixed .title {
    display: none;
  }

  .right-scrollable {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .left-fixed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box; /* Prevent content from overflowing */
    margin-bottom: 84px;
  }

  .left-fixed .left-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .left-fixed .card {
    width: min(200px, 80%);
    flex-grow: 1; /* Allow the card to take up remaining space */
    flex-shrink: 1; /* Allow the card to shrink if necessary */
    height: 100%; /* Ensure the card takes up full available height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Ensure the content inside the card is centered */
    align-items: center;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
