.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px; /* Espacement entre texte et image */
}

.textContainer {
  text-align: left;
  flex: 1;
}

.imageContainer {
  position: relative;
  height: 40px; /* Hauteur maximale contrainte */
  width: 150px;
}

.image {
  transition: opacity 0.3s ease-in-out;
}

.image[src$='thales-inverted.png'],
.image[src$='thales.png'] {
  opacity: 1;
}
