.navbar {
  background-color: var(--background) !important;
  position: fixed;
  color: var(--foreground);
  margin: 10px;
  width: calc(100% - 20px) !important;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.navbar img {
  filter: invert(100%);
}

@media (max-width: 500px) {
  .brandName {
    display: none !important;
  }
}
