.chat-container {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.chat-box {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.message-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-row {
  flex-direction: row-reverse;
}

.bot-row {
  flex-direction: row;
}

.message {
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.user-message {
  background-color: var(--bg-color-1);
  color: var(--foreground);
  align-self: flex-end;
}

.bot-message {
  background-color: var(--bg-color-3);
  color: var(--foreground);
  align-self: flex-start;
}

.user-icon,
.bot-icon {
  font-size: 24px;
  margin: 0 10px;
}

.form-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}

input-field {
  flex-grow: 1;
}

button {
  margin-left: 10px;
}

.blinking-cursor {
  display: inline-block;
  width: 8px;
  height: 16px;
  background-color: var(--foreground);
  animation: blink 1s steps(2, start) infinite;
  margin-left: 5px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
